[submodule "lib/libcore"]
	path = lib/libcore
	url = https://github.com/phil-opp/nightly-libcore.git
[submodule "lib/lib/libcollections"]
	path = lib/lib/libcollections
	url = https://github.com/phil-opp/nightly-libcollections.git
[submodule "lib/librustc_unicode"]
	path = lib/librustc_unicode
	url = https://github.com/phil-opp/nightly-librustc_unicode.git
[submodule "lib/liballoc"]
	path = lib/liballoc
	url = https://github.com/phil-opp/nightly-liballoc.git
